@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-lucky: "Luckiest Guy", cursive;
  --color-primary: #FA9661;  
  --color-primary-content: #171105;
}

/* If want to add color in theme */
/* {
  themes: mytheme --default, light;
};

@plugin "daisyui/theme" {
  name: "mytheme";
  color-scheme: "light";
  --color-primary: #FA9661;  
  --color-primary-content: #171105;
}
 */


